*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: url(background.png);
    background-size: cover;
    font-family: "Nunito", sans-serif;
}
.container {
    display: flex;
    gap: 40px;
    padding: 50px;
    justify-content: center;
    align-items: flex-start;
}
.box{
    min-width: 350px;
    background: #fafafa;
    border-radius: 30px;
    text-align: center;
    position: relative;

}
.box::before{
    content: "";
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0,0.15);
    border-radius: 60px;
    z-index: -1;
}
h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0;
}
.content{
    padding: 0 35px;
}
.input{
    background: #FFF;
    box-shadow: 0px 0px 95px -35px rgba(0, 0, 0,0.15);
    border-radius: 28px;
    padding: 15px 0;
    margin-bottom: 16px;
}
.input label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 28px;
    font-family: "Nunito", sans-serif;
}
button#calculator{
    font-family: "Nunito", sans-serif;
    color: #FFF;
    background: #4f7df9;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: background .2s ease;
}
button#calculator:hover{
    background: #0044ff;
}
.result{
    padding:  20px;
}
.result p{
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}
.result #result{
   font-size: 36px;
   font-weight: 900;
   color: #4f7df9;
   background-color: #eaeaea;
   display: inline-block;
   padding: 7px 20px;
   border-radius: 55px;
   margin-bottom: 25px;

}
#comment{
    color: #4f7df9;
    
}
.tips{
    width: 320px;
    background: #fff;
    border-radius: 25px;
    padding: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.15);
    margin-top: -30px;
}
.tips h2{
    text-align: center;
    color: #4f7df9;
    margin-bottom: 20px;

}
.tip-card{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.tip-card h3 {
    margin-bottom: 8px;
    font-size: 18px;
}
.tip-card ul {
    padding-left: 20px;
}
.tip-card li {
    margin: 5px 0;
    font-size: 18px;
}
.healthy {
    background: #e8f8ee;
}
.underwight {
    background: #616f7e;
}
.overweight {
    background: #fff5df;
}
.obese{
    background: #ffe7e7;
}